html, body {
 height: 100%; 
 margin: 0; 
 padding: 0; 
 font-family:'Raleway';
 background-color:#002B54;
}

h1{
  color:#D18C2A;
}

p{
 color:#D18C2A;
}

.jumbotron{
  background-color:#002B54;
}

.footer{
  background-color:#194065;
}

#map{
  height:30%;
  width:100%;
}

#headertext{
  text-align:center;
}

.carousel-inner img {
  margin: auto;
}

/*#aboutimage{
  display:inline-block;
  vertical-align:middle;
}

.abouttext{
  float:left;
}*/

.player{
  width:40%;
  height:30%;
  clear:both;
}

#videos{

}
