html, body {
 height: 100%; 
 margin: 0; 
 padding: 0; 
}

#map{
  height:30%;
  width:100%;
}

#headertext{
  text-align:center;
}

.carousel-inner img {
  margin: auto;
}

.aboutimage{
  float:right;
}

.abouttext{
  float:left;
}

.player{
  clear:both;
}